<app-loading [loading]="loading"></app-loading>

<header class="w-100 bg-blue-800 h-24 flex justify-center items-center flex-col">
  <h3 class="text-slate-100 font-bold text-6xl font-mono">Prueba Valley Group</h3>
  <p class="font-medium text-lg text-slate-200 font-mono">Autor: Andres Estiven Henao M.</p>
</header>

<div class="w-full flex h-screen">
  <div class="w-1/2 flex justify-center items-center flex-col">
    <h3 class="text-4xl font-bold font-mono">Crear Publicación</h3>
    <div
  class="block max-w-md rounded-lg bg-white p-6 w-11/12 ">
  <form>
    <div class="relative mb-6" >
      <input
        type="text"
        class="peer block min-h-[auto] w-full rounded border border-solid border-gray-300 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not"
        placeholder="Titulo"
        name="title"
        [(ngModel)]="titleForm" />
      
    </div>
    
    <div class="relative mb-6" >
      <textarea
        class="peer block min-h-[auto] w-full rounded border border-solid border-gray-300 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not h-32"
        id="exampleFormControlTextarea13"
        rows="3"
        placeholder="Descripción"
        name="description"
        [(ngModel)]="descriptionForm"></textarea>
      
    </div>
    
    <button
      type="button"
      class="w-full rounded bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
      data-te-ripple-init
      data-te-ripple-color="light" (click)="createPost()">
      Crear
    </button>
  </form>
</div>
    
  </div>
  <div class="w-1/2 bg-gray-400 p-3 overflow-y-auto">
    <div *ngIf="posts.length > 0">
      <app-post 
      *ngFor="let post of posts"
      [post_id]="post?.id"
      [title]="post?.title" 
      [description]="post?.description"
      [comments]="post?.comments"
      (updateData)="getPosts()"
      (loading)="activeLoading($event)"
      ></app-post> 
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
