<div class="flex justify-center mt-5">
    <div
      class="block max-w-sm rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-700 md:max-w-xl md:flex-row">
      <h5
        class="mb-2 text-xl font-medium leading-tight
       text-neutral-800 dark:text-neutral-50
       flex justify-between">
        {{ title }}
        <button class="text-red-500 text-lg font-semibold"
            (click)="deletePost()"
            >X</button>
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
      {{ description }}
      </p>
      <div class="flex flex-row items-baseline py-2">
        <div class="flex justify-center">
          <div class="relative mb-3 xl:w-96" >
            <input
              type="text"
              class="peer block min-h-[auto] w-full rounded bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not border border-solid border-gray-400"
              id="exampleFormControlInputText"
              [(ngModel)]="descriptionForm"
              placeholder="Comentario" />
          </div>
        </div>
        <button
        type="button"
        class="inline-block rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] mx-2  my-0"
        data-te-ripple-init
        data-te-ripple-color="light"
        (click)="addComment()">
        Comentar
      </button>
      </div>
      <!-- Comentarios -->
      <div class="flex justify-center">
        <ul class="w-96">
          <li
            *ngFor="let comment of comments"
            class="w-full border-b-2 border-neutral-100 border-opacity-100 
            flex justify-between py-4 dark:border-opacity-50">
            {{ comment.description }}
            <button class="text-red-500 text-lg font-semibold"
            (click)="deleteComment(comment.id)"
            >X</button>
          </li>
        </ul>
      </div>
    </div>
  </div>